$breakpoints: (
  'xs-phone': 320px,
  'phone': 480px,
  'tablet': 768px,
  'desktop': 991px,
  'ldesktop': 1023px,
  'widescreen': 1199px
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';

@import "bootstrap-custom";
@import "vendors/bootstrap/variables";
@import "vendors/bootstrap/mixins";

@import 'base/mixins';
@import 'base/helpers';
@import "vendors/fonts";
@import "vendors/jqvmap";
@import "vendors/maps";
@import "vendors/font-awesome";
@import "vendors/jquery.bxslider";
@import "vendors/owl.carousel";


#wrapper {
  overflow: hidden;
}
.container {
  margin: 0 auto;
}
body {
  background: #fff;
  font-family: 'robotoregular', sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
.logo {
  margin-top: 65px;
  margin-bottom: 33px;

  @include media ('<=desktop') {
    margin-top: 70px;
  }
  @include media ('<=tablet') {
    text-align: center;
    img {
      max-width: 340px;
    }
  } 

}
.tcertificat {
  color:#373737;
  padding-top: 40px;

  @include media ('<=tablet') {
    background: url(../images/map-bg.png) no-repeat 50% 0;
    background-size: 100%;
  }

  p {
    padding: 0 5px;
    line-height: 24px;

    @include media ('<=tablet') {
      font-size: 12px;
    }
  }
}
h1 {
  font-size: 36px;
  color: $grey;
  font-family: 'roboto_condensedregular', sans-serif;
  margin-bottom: 20px;
  padding: 0 5px;
  margin-top: 0;

  @include media ('<=tablet') {
    font-size: 24px;
  }

}
.title-question,
.title-answer,
.form-title {
  text-transform: uppercase;
  margin-top: 0;
  font-weight: bold;
  margin-bottom: 15px;
}
.title-question {
  color: $grey;
}
.title-answer {
  color: #b51f25;
}
.form-title {
  color: #525353;
}
h2 {
  font-size: 30px;
  color: $grey;
  font-family: 'roboto_condensedregular', sans-serif;
  margin-bottom: 20px;
  padding: 0 5px;
  margin-top: 0;

  @include media ('<=tablet') {
     font-size: 24px;
  }

}
.img-map {
  position: relative;

  img {
    position: absolute;
    z-index: -1;
  }
}
#header {
  margin-bottom: 10px;
}
.list {

  a:focus,
  a.focus {
    text-decoration: none;
  }
  @include media ('<=tablet') {
      display: none;
    }
}
.list-certificate {
  list-style-type: none;
  @extend %listreset;
  margin-left: -10px;
  margin-right: -10px;

  li {
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
    width: 16.666%;
    padding: 10px;
    text-align: center;

    @include media ('<=desktop') {
      width: 33.332%;
    }
    @include media ('<=phone') {
      width: 50%;
    }
  }
  a {
    color: $grey;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
      color:#b60017;
    }
  }
  a:hover .img-wrsh {
    transform: scale(1.15);
  }
  img {
    border: 1px solid #d2d2d2;
  }
}
.img-wrsh {
   transition: all 0.2s ease;
   position: relative;
   background: #ddd;
   color: rgba(0,0,0, .8);
   text-shadow: 0 1px 0 #fff;
   line-height: 1.5;
   margin-bottom: 15px;
   text-align: center;
   display: inline-block;
  }
  .img-wrsh:before,
  .img-wrsh:after {
   z-index: -1;
   position: absolute;
   content: "";
   bottom: 15px;
   left: 10px;
   width: 50%;
   top: 80%;
   max-width:300px;
   background: rgba(0, 0, 0, 0.7);
   -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);
   -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
   box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
   -webkit-transform: rotate(-3deg);
   -moz-transform: rotate(-3deg);
   -o-transform: rotate(-3deg);
   -ms-transform: rotate(-3deg);
   transform: rotate(-3deg);
  }
  .img-wrsh:after {
   -webkit-transform: rotate(3deg);
   -moz-transform: rotate(3deg);
   -o-transform: rotate(3deg);
   -ms-transform: rotate(3deg);
   transform: rotate(3deg);
   right: 10px;
   left: auto;
  }
.allcert {
  padding: 6px 10px;
  background: #e5edea;

  a {
    color: $grey;
    text-decoration: none;
    position: relative;

    &:after {
      content: "";
      display: inline-block;
      height: 1px;
      background: url(../images/border1.png) repeat-x;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }

    &:hover {
      &:after {
        display: none;
      }
    }
  }
}

.certificatedprod {
  padding: 40px 0;
  ul {
    list-style-type: none;
    @extend %listreset;
  }
}
.cerprodlist {
  margin-right: -10px;
  margin-left: -10px;
  text-align: left;
  h4 {
    font-size: 18px;
    line-height: 1.2em;
    color: #373737;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    @include media ('<=tablet') {
      font-size: 18px;
    }
  }
  & > li {
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
    width: 50%;
    padding: 30px 10px;

    @include media ('<=tablet') {
      width: 100%;
    }
  }
  .proim-left {
    display: inline-block;
    vertical-align: middle;
    margin-right: -4px;
    padding: 5px;
    text-align: center;
    width: 90px;
    margin-top: 10px;

    @include media ('<=phone') {
      width: 100%;
      text-align: center;

      img {
        width: 90px;
      }
    }
  }
  .proim-right {
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
    padding: 0 5px;
    width: calc(100% - 90px);
    @include media ('<=phone') {
      width: 100%;
      text-align: center;
    }  
    li {
      @include media ('<=tablet') {
        padding: 10px;
      } 
      @include media ('<=phone') {
        width: 100%;
      } 
    }
    h4 {
      @include media ('<=phone') {
        text-align: center;
      } 
    }
    ul {
      @include media ('<=phone') {
        margin-bottom: 15px;
      } 
    } 
  }
  ul{
    li {
      display: inline-block;
      padding: 0 5px;

      a {
        color: $grey;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      } 
    }
  }
}
.btn-def {
  display: none;
  color:#009eb2;
  font-size: 12px;
  cursor: pointer;
  position: relative;
  text-decoration: none;

  &:after {
    content: "";
    display: inline-block;
    height: 1px;
    background: url(../images/border1.png) repeat-x;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &:hover {
    &:after {
      display: none;
    }
  }
  @include media ('<=phone') {
    display: inline-block;
  }
}
// form section
.form-question {
  background: url(../images/form-bg.png) no-repeat 50% 50%;
  padding: 40px 30px;
  margin-bottom: 30px;

  h2 {
    margin-top: 0;
  }

  textarea.form-control {
    width: 100%;
    max-width: 100%;
    height: 255px;
  }
  label {
    color:#838383;
  }
}
.form-button {
  text-align: right;

  @include media ('<=tablet') {
    text-align: center;
  }
}
.btn-default {
  font-family: 'roboto_condensedregular', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px 33px;
  background: $grey;
  color:#fff;
  @extend %transition;

  &:hover {
    background: #b60018;
    border:1px solid #b60018;
    color: #fff;
  }
}
.btn-default:focus, 
.btn-default.focus {
    color: #fff;
    background: $grey;
    border-color: $grey;
}
.doc-cert {
  padding: 40px 0;
  ul {
    @extend %listreset;
  }
  li {
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
    width: 20%;
    padding: 0 10px;

    @include media ('<=tablet') {
      width: 50%;
      margin-bottom: 20px;
    }

    a {
      color: #525252;
      font-weight: bold;
      text-decoration: none;
      @extend %transition;

      &:hover {
        .cir-img {
          background: #009eb2;

          span {
            color:#fff;
          }
        }
      }
    }
  }
  .cir-img {
    border-radius: 50%;
    display: inline-block;
    background: #e5edea;
    width: 82px;
    height: 82px;
    position: relative;
    margin-bottom: 20px;
    @extend %transition;

    span {
      position: absolute;
      left:50%;
      top:50%;
      width: auto;
      font-size: 60px;
      transform: translateX(-50%) translateY(-50%);
      color:#009eb2;
      @extend %transition;
    }
  }
}
.mb40 {
  margin-bottom: 40px;
}

// footer 
#footer {
  margin-top: 17px;
  position: relative;
  background: #373737;
  padding: 20px 0;
  font-weight: bold;

  &:before {
    content:"";
    position: absolute;
    top: -18px;
    left:0;
    right: 0;
    display: inline-block;
    height: 18px;
    background: url(../images/bgfooter.png) repeat-x 50% 50%;
  }
}
.navigation {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  margin-bottom: 25px;
  @extend %listreset;

  @include media ('<=desktop') {
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-bottom: 20px;
      width: 100%;
  }
  li {
     @include media ('<=desktop') {
      width: 100%;
      margin-bottom: 25px;
     }

     &:last-child {
        @include media ('<=desktop') {
        margin-bottom: 0;
       }
     }
  }

  a {
    font-size: 12px;
    color: #d2d2d2;
    transition: all 0.5s ease;

    &:hover {
      text-decoration: none;
      color: $grey;
    }
  }
}
.copiright {
  color: #a3a3a3;
  font-size: 12px;
}
object {
  width: 100%;
  height: 100%;
}
#vmap {
  text-align: center;
  margin:   0 auto; 
}
.map-cert {
  position: relative; 
  padding-top: 40px;
}
.posr {
  position: relative; 
}
#map svg {
  width: 100%!important;
  height: auto!important;
}
.jqvmap-zoomin,
.jqvmap-zoomout {
  display: none;
}
#vmap {
  @include media ('<=tablet') {
    display: none;
  }
}
.bsl {

  position: absolute; 
  left:   0;
  top:  38%;
  z-index: 100;
  min-width: 30%!important;

  
  @include media ('<=tablet') {
    position: relative;
    top: 0;
    vertical-align: middle;
    width: 100%!important;
  }
  @include media ('<=phone') {
    padding-left: 10px;
    padding-right: 10px;
  }
  .seeall {
    color: #009eb1;
    text-decoration: underline;
    cursor: pointer;
    @include media ('<=tablet') {
        font-size: 18px;
        text-decoration: none;
        font-family: 'roboto_condensedregular', sans-serif; 
    }

    i {
      display: none;


      @include media ('<=tablet') {
        display: inline-block;
        font-size: 12px;
      }
    } 
  }
}
.bx-wrapper {
  background: rgba(230, 237, 234, 0.7);
  overflow: hidden;
  border: none;
  box-shadow: none;
  padding: 60px 0;
}
.bxslider {
  position: relative;
  @extend %listreset;

  @include media ('<=ldesktop') {
    padding:20px;
    
  }
  @include media ('<=tablet') {
    text-align: center;
    padding: 20px 20px 0;
  }
  
  ul {
    @extend %listreset;
  }
   a {
    color:#525252;
    font-size:  16px;
    cursor: pointer;
    white-space: nowrap;

    &:hover {
      font-weight:  bold;
      color: #009eb2;
      text-decoration: none;  
    }
  }
   li {
    width:  100%;
    padding:  10px 0;

  }
  .active-region {
    font-weight:  bold;
    color: #009eb2;
    text-decoration: none; 
  }
}

a.bx-prev {
  position: absolute;
  top:  30px !important;
  left: 50% !important;
  color:#525252;
  font-size: 50px;
  line-height: 20px;
  transform: translateX(-50%);
  text-indent: 0!important;
  &:hover {
    font-weight:  bold;
    color: #009eb2;
    text-decoration: none;
  }
  i {
    line-height: 20px;
  }
}
a.bx-next {
  position: absolute;
  bottom:  10px  !important;
  font-size: 50px;
  line-height: 20px;
  left: 50%  !important;
  top: auto !important;
  color:#525252;
  text-indent: 0 !important;
  transform: translateX(-50%);
  &:hover {
    font-weight:  bold;
    color: #009eb2;
    text-decoration: none;
  }
  i {
    line-height: 20px;
  }
}

.desc-obj {
  background: rgba(230, 237, 234, .7);
  position: absolute; 
  right:   0;
  top:  50%;
  min-width: 25%!important;
  padding:  10px 5px 20px 30px;
  text-align:   left;
  color:#525252;
  font-size:  14px;
  overflow: hidden;
  @include media ('<=ldesktop') {
    padding: 10px 5px 20px 20px;
    
  }
  @include media ('<=tablet') {
    position: static;
    top: 0;
    width: 100% !important;
    text-align: center;
    padding: 10px;
  }
  @include media ('<=phone') {
    padding:  5px 10px 10px;
    
  }
  .desc-objw {
    max-height: 250px;
    overflow-y:auto;
    @include media ('<=tablet') {
      max-height: 100%;
    }  
  }

  .company-city {
    color: $grey;
    font-size:  18px;

    @include media ('<=tablet') {
      display: none;
    }
    span {
      text-transform: uppercase;  
    } 
  }
}
.hidden-xs {
  
  @include media ('<=tablet') {
    display: none;
    
  }
}

.sm-list li:nth-child(3n) {
  margin-bottom: 10px;
}
.last-chld {
  margin-bottom: 20px;
}

.all-list {
  padding: 10px 0;
  cursor: pointer;
  @include media ('<=tablet') {
    text-align: center;
    display: inline-block;
  }
  
} 
.hover-list {
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  margin: 0;
  list-style-type: none;
  position: absolute;
  left: 297px;
  top: 0;
  width: 873px;
  display: none;
  text-align: left;
  background: rgba(230, 237, 234, 1);
  @include media ('<=widescreen') {
    left: 240px;
    width: 730px;
  }
  @include media ('<=desktop') {
    left: 200px;
    width: 550px;
  }
  @include media ('<=tablet') {
    left: 0;
    width: 100%;
    top: 58px;
    height: 300px;
    display: none;
    overflow-y: auto; 
  }
  li {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
    text-align: center;
    @include media ('<=desktop') {
      width: 33.332%;
    }
    @include media ('<=tablet') {
      width: 100%;
    }
  }
}
.news-section {
  text-align: center;
  padding-top: 40px;

  ul {
    @extend %listreset;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 10px;
    display: flex;

    @include media ('<=desktop') {
      flex-wrap: wrap;
    }
  }

  li {
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
    text-align: center;
    width: 33.332%;

    @include media ('<=desktop') {
      width: 50%;
    } 
    @include media ('<=tablet') {
      width: 100%;
    }    
  }
  a {
    display: inline-block;
    padding: 10px;
    height: 100%;
    border-radius: 4px;
    @extend %transition;

    &:hover {
      background: #e5edea;
      text-decoration: none;

      .news-title {
        color:#189fb2;
      }
    }
  }
  img {
    margin-bottom: 20px;
  }
  .news-title {
    text-decoration: none;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    color:#373737;
    @extend %transition;
  }
}
.btn-grey {
  background: #009eb2;
  color:#fff;
  border-radius: 4px;
  padding: 15px 17px;
  text-transform: uppercase;
  border: none;
  @extend %transition;
  font-family: 'roboto_condensedregular', sans-serif;

  &:hover {
    background: #b51f25;
  }
}
.item {
  padding: 0 10px;
}
.owl-theme {
  margin-right: -10px;
  margin-left: -10px;
}
.question-block { 
  background: url(../images/form-bg.png) no-repeat 50% 50%;
  background-size: cover;
  padding-top: 40px;
  h1,
  .news-button {
    text-align: center;
  }
}
.question-us {
  margin-bottom: 20px;
  color: #373737;
  .left-col,
  .right-col {
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
  }
  .left-col {
    width: 62px;
    border-radius: 50%;
    overflow: hidden;

    @include media ('<=phone') {
      display: none;
    }
    
    img {
      width: 100%;
      height: auto; 
    }
  }
  .right-col {
    width: calc(100% - 80px);
    margin-left: 20px;
    padding: 8px 20px;
    border: 1px solid #d0d0d0;
    border-radius: 7px;
    position: relative;
    background: #fff;
    @include media ('<=phone') {
      width: 100%;
      margin-left: 0;
    }
  }
  .date-post {
    font-style: italic;
    color: #9f9f9f;
    font-size: 10px;
  }
  .footer-ques {
    font-style: italic;
    color: #9f9f9f;
    font-size: 11px;
  }
}
.exp-answ {
  .left-col,
  .right-col {
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
  }
  .left-col {
    width: calc(100% - 80px);
    margin-right: 20px;
    padding: 20px;
    border: 1px solid #d0d0d0;
    border-radius: 7px;
    position: relative;
    background: #fff;
    @include media ('<=phone') {
      width: 100%;
    }
  }
  .right-col {
    width: 60px;
    overflow: hidden;
    border-radius: 50%;
    @include media ('<=phone') {
      display: none;
    }
  }
  .exp-name,
  .exp-tel {
    font-style: italic;
    font-size: 11px;
    color: #a5a5a5;
    margin-bottom: 1px;
  }
  .exp-email {
    font-style: italic;
    font-size: 11px;
    color: #009eb2;
    margin-bottom: 1px;
  }
}
.arr-right {
  height: 20px;
  width: 10px;
  overflow: hidden;
  position: absolute;
  top: 20px;
  right: -10px;
  z-index: 1;


  &:after {
    content:"";
    height: 20px;
    width: 20px;
    border: 1px solid #d0d0d0;
    display: inline-block;
    transform: rotate(45deg);
    position: relative;
    left: -14px;
    background: #fff;
  }
}
.arr-left {
  height: 20px;
  width: 10px;
  overflow: hidden;
  position: absolute;
  top: 20px;
  left: -9px;
  z-index: 1;

  &:after {
    content:"";
    height: 20px;
    width: 20px;
    border: 1px solid #d0d0d0;
    display: inline-block;
    transform: rotate(45deg);
    position: relative;
    right: -3px;
    background: #fff;
  }
}
.owl-item:nth-child(3n-1) {
  .question-us {
    .right-col {
      background: #e7fcff !important;
    }
  }
  .arr-right {
    &:after {
      background: #e7fcff !important;
    }
  }
  .arr-left {
    &:after {
      background: #e7fcff !important;
    }
  }
  .exp-answ {
    .left-col {
      background: #e7fcff !important;
    }
  }
}
.owl-item:nth-child(3n) {
  .question-us {
    .right-col {
      background: #ffe8ec !important;
    }
  }
  .arr-right:after,
  .arr-left:after {
    background: #ffe8ec !important;
  }
  .exp-answ {
    .left-col {
      background: #ffe8ec !important;
    }
  }
}
.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  i {
    font-size: 70px;
    color: #5f5f5f;
  }
}
.owl-prev {
  left: -50px;
}
.owl-next {
  right: -50px;
}
.owl-carousel {
  margin-bottom: 20px;
}
.btn-org {
  font-family: 'roboto_condensedregular', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px 33px;
  background: rgba(255, 255, 255, .7);
  border: 1px solid $grey; 
  color: #009eb2;
  text-decoration: none!important;
  @extend %transition;

  &:hover {
    background: $grey;
    color: #fff !important;
    text-decoration: none;
  }
}
.news-button {
  .btn-org,
  .btn-default {
    min-width: 285px;
    margin:0 10px 20px;
    @include media ('<=tablet') {
      margin:0 auto 20px;
      width: 100%;
    }
  }
}
.menu-open .nav {
  left: 0;
}
.nav {
  background: #189fb2;
  top: -20px;
  @extend %transition;

  @include media ('<=desktop') {
      
      width: 286px;
      position: absolute;
      left: -1000px;
      top: 0;
      z-index: 200;
    }

  .container {
    @include media ('<=desktop') {
      width: 100%!important;
      display: flex;
       align-items: stretch;
       flex-wrap: wrap;
       flex-direction: column;
       background: #fff;
       padding: 0;
    }
  }
}
.general-nav {
  position: relative;
  @extend %listreset;
  display: flex;
  justify-content: space-around;

  @include media ('<=desktop') {
    flex-wrap: wrap;
    background: $grey;
    border-top: 11px solid #0e7b8a;
    height: 50%;
  }


  ul {
    @extend %listreset;
  }
  .dropdown-menu {
    display: none;
    z-index: 200;
    border-radius: 0;
    width: 200px;
    position: absolute;
    left: 0;
    top: 100% !important;
    @extend %transition;

    @include media ('<=desktop') {
      width: inherit;
      top: 100%;
    }

    li {
      position: relative;
      a {
        padding: 10px;
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid #79cbd5;
        white-space: normal;

        &:hover {
          background: #009eb2;
          text-decoration: none;
        }
      }
    }
  }
  & > li {
    padding: 10px;
    position: relative;
    @extend %transition;

    @include media ('<=desktop') {
      position: relative;
      width: 100%;
      border-bottom: 1px solid #79cbd5;
      padding: 0 10px;
    }


    &:hover {
      background: #4cbbc9;
      .dropdown-menu {
        display: block;
        position: absolute;
        left: 0;
        top: 40px;
        background: #4cbbc9;

        @include media ('<=desktop') {
          z-index: 20;
        }
      }
      i {
        transform: rotate(180deg);

        }
    }
  }
  a {
    text-transform: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 30px 10px;
    color:#fff!important;
    white-space: nowrap;
    @extend %transition;

    @include media ('<=desktop') {
      white-space: normal;
      &:before {
        content: "";
        display: inline-block;
        height: 100%;
        width: 1px;
        vertical-align: middle;
      }
    }
  }
  i {
    @extend %transition;
    @include media ('<=desktop') {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
      
    }
  }
}
.dropmenu-open {
      background: #009eb2 !important; 

    .dropdown-menu {
      display: block!important;
      position: absolute;
      left: 0;
      top: 40px;
      background: #009eb2 !important;
    }
}
.add-nav {
  @extend %listreset;
  position: absolute;
  top: 10px;

  @include media ('<=desktop') {
    position: static;
    background: #fff;

  }

  li {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    @include media ('<=desktop') {
      display: block;
      padding:  0;
      width: 100%;
    }

    a {
      color: #525353;
      padding: 30px 10px;
      text-decoration: underline;
      font-size: 12px;

      @include media ('<=desktop') {
        display: inline-block;
        width: 100%;
        vertical-align: middle;
        height: 100%;

        &:before {
          content: "";
          display: inline-block;
          height: 100%;
          width: 1px;
          vertical-align: middle;
        }
      }

      &:hover {
        color: #b51f25;
        text-decoration: none;
      }
    }
  }
}
.menu-open .overlay {
  display: block;
}
.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .6);
  z-index: 110;
  display: none;
}
.menu-opener{
  float: right;
  width:40px;
  height:40px;
  background: #4cbbc9;
  position:absolute;
  top: 20px;
  right: 20px;
  display: none;
  z-index: 220;

  @include media ('<=desktop') {
    display: block;
  }
}
.menu-opener:before,
.menu-opener:after,
.menu-opener span{
  background:#fff;
  position:absolute;
  top:50%;
  left:25%;
  right:25%;
  height:4px;
  margin-top:-2px;
  transition:all 0.2s linear;
}
.menu-opener:before,
.menu-opener:after{
  content:'';
  top:30%;
}
.menu-opener:after{top:70%;}
.menu-open .menu-opener span{opacity:0;}
.menu-opener:hover{opacity:.9;}
.menu-open .menu-opener:after,
.menu-open .menu-opener:before{
  -moz-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  top:50%;
  left:15%;
  right:15%;
}
.menu-open .menu-opener:after{
  -moz-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  transform:rotate(-45deg);
}
.jqvmap-label {
  background: #ebf1ee;
  color: #525252;
  z-index: 101;

  strong {
    color: #009eb1;
  }
}
.owl-dots {
  text-align: center;

  .active {
    background: #009eb1;
  }
}
.owl-dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #8dd1dc;
  margin: 20px 5px 0;
}
.breadcrumbs {
  @extend %listreset;
  margin-bottom: 15px;

  li {
    display: inline-block;

    &:last-child {
      i {
        display: none;
      }
    }
  }
  a {
    font-size: 12px;
    color: $grey;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }

    i {
      color: #606060;
      display: inline-block;
      margin: 0 7px;
      font-size: 14px;
    }
  }
}
h4 {
  font-weight: 700;
}
// aside nav
.aside-navigation {
  margin-bottom: 35px;
  .aside-nav {
     @extend %listreset;
    
    .active {
      background: #189fb2;
    }
    li {
      border-bottom: 1px solid #79cbd5;
      position: relative;

      &:hover {
        a {
        background: #189fb2;
        }
        .dropdown-menus {
          display: block;
        }
      }
    }
     a {
      display: block;
      height: 100%;
      padding: 15px 10px;
      background: $grey-light;
      text-decoration: none;
      color: #fff;

     }
  }

  .dropdown-menus {
    @extend %listreset;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    z-index: 1;

    li{
      &:hover {
        a {
          background: $grey-light;
        }
      }
    }
  }
}

.user-question {
  color:#373737;
  margin-bottom: 35px;

  p {
    font-style: italic;
    line-height: 24px;
  }

  
  span {
      font-style: italic;
      color: #a5a5a5;
      display: inline-block;
      vertical-align: middle;
      font-size: 12px;
    }
    
}
.qwrap {
  margin-bottom: 20px;
  font-size: 12px;
}
.quser-ndate {
  padding: 5px 10px;
  border-radius: 4px;
  font-style: normal !important;
  color:#373737 !important;
  background: #e5edea;
  font-size: 12px;
  margin-right: 10px;
}
.send-question {
  color: #373737;
  margin-bottom: 35px;

  .spec-name {
    font-weight: 700;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
  }
}
.img-spec {
  margin-bottom: 10px;
}
.form-ques {
  p {
    margin-bottom: 15px;
  }
  input,
  textarea {
    padding: 10px;
    color: #a5a5a5;
    border-color: #a5a5a5;
    &::-webkit-input-placeholder {color:#a5a5a5;}
    &::-moz-placeholder          {color:#a5a5a5;}/* Firefox 19+ */
    &:-moz-placeholder           {color:#a5a5a5;}/* Firefox 18- */
    &:-ms-input-placeholder      {color:#a5a5a5;}

  }
  textarea {
    width: 100%;
    max-width: 100%;
    min-height: 120px;
  }
  .form-group {
    margin-bottom: 10px;
  }

}
.block-right {
  float: right !important;

  @include media ('<=tablet') {
      float: none !important;
    }

  &:after {
    content: " ";
    display: table;
  }
}
.certificate-page {
  .img-wrsh {
    border: 1px solid #c9c9c9;
    box-shadow: 0 0 1px #f4f4f4;
  }
}
.user-questlist {
  @extend %listreset;
  margin-bottom: 20px;

  li {
    padding: 20px 0;
    border-bottom: 1px solid #e5edea;
  }
  .user-question {
    margin-bottom: 0;
  }
}
.paginations {
  text-align: center;
  @extend %listreset;
  margin-bottom: 20px;

  li {
    width: 41px;
    height: 41px;
    border-radius: 3px;
    border:1px solid $grey;
    text-align: center;
    margin: 0 5px;
    display: inline-block;

    &:hover {
    background: $grey;
      a {
        color: #fff;
      }
    }
  
    a {
      color: $grey;
      display: block;
      height: 100%;
      text-decoration: none;

      &:after {
        content:"";
        width: 1px;
        height: 100%;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  .active {
    background: $grey;
    a {
      color: #fff;
    }
  }
}
.border-bottom {
  border-bottom: 1px solid $grey;
  
}
.answer {
  margin-bottom: 20px;
  padding-bottom: 5px;

  p {
    line-height: 24px;
  }
}
.mb20 {
  margin-bottom: 20px;
}
.expert-answer {
  margin-bottom: 20px;

  footer {
    margin-right: -10px;
    margin-left: -10px;
  }
}
.exp-img,
.exp-contacts {
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
  padding: 0 10px;
}
.exp-img {
  border-radius: 50%;
  overflow: hidden;
}
.exp-contacts {
  width: 60%;
}
.expert-name {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 0;
}
.expert-descr {
  font-size: 11px;
  margin-bottom: 15px;
}
.expert-tel {
  margin-bottom: 7px;
}
.expert-mail {
  color:#189fb2;
  text-decoration: underline;
}
.expert-answ {
  margin-bottom: 30px;
}
.legilation-list {
  @extend %listreset;
  margin-bottom: 20px;
  padding-bottom: 15px;
  overflow-x: auto;
  width: 100%;
  li {
    min-width: 710px;
  }

  thead {
    background: #e5edea;

    th {
      padding: 20px;
      font-size: 12px;
      text-align: center;
      text-transform: uppercase;

      &:first-child {
        text-align: left;
        text-transform: none;
        font-size: 18px;
        font-weight: 700;
      }
    }
  }
  tbody {
    tr:nth-child(even) {
        background: rgba(202, 206, 204, .4);
    }
  }
  td {
    text-align: center;
    padding: 5px 20px;
    color: #525353;

    &:first-child {
      text-align: left; 
      white-space:  nowrap;
      text-overflow: ellipsis;
      overflow: hidden; 
      max-width:  440px;
    }

    a {
      text-decoration: underline;
      color: $grey;

      &:hover {
        text-decoration: none;
        color: $grey;
      }
    }
  }
}
.aboutus-bl {
  margin-bottom: 20px;

  img {
    margin-bottom: 20px;
  }
}
.news-list {
  @extend %listreset;
  margin-bottom: 20px;
  
  .quser-ndate {
    margin-bottom: 10px;
    display: inline-block;
  }

  p {
    margin-bottom: 20px;
  }

  li {
    padding: 20px 0 0;
    border-bottom: 1px solid #e5edea;

  }

  img {
    margin-bottom: 20px;
  }
}
.news-bl {
  h1 {
    padding-left: 0;
  }
}
.news-title {
  margin-top: 0;
  font-weight: 700;
  color: $grey;
  font-size: 18px;

}
.news-description {
  margin-bottom: 20px;
}
.products-page {
  .image-prod {
    margin-bottom: 20px;
  }

  .list-certificate {
    li {
      width: 20%;

      @include media ('<=desktop') {
        width: 25%;
      }
      @include media ('<=tablet') {
        width: 50%;
      }
    }
  }


}
.pdf-label {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 25px;
  background: #b51f25;
  position: absolute;
  left: 0;
  bottom: 27px;
}
.line-quote {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  color: #a6dde4;
  margin-bottom: 12px;
  position: relative;
  padding: 0 80px;

  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 15px;
    right: 15px;
    background: #a6dde4;
  }

  .img-quote { 
    background: $grey-light;
    position: relative;
    z-index: 2;
    padding: 0 15px;
  }
}
.block-quote {
  color: #fff;
  font-style: italic;
  background: $grey-light;
  padding: 15px 65px;
  text-align: center;
  margin-bottom: 15px;
}

.legilation-table {
  table {
    width: 100%;
    border: 1px solid $grey;
  }
  thead {
    background: $grey;
    color: #fff;
    th:first-child {
        text-align: left;
        text-transform: uppercase ;
        font-size: 12px;
        font-weight: 500;
    }
  }
}

.some-list {
  margin-bottom: 30px; 

  ul {
    @extend %listreset;
  } 
  li {
    position: relative;

    &:before {
      content: "-";
      display: inline-block;  
      margin-right: 3px;
    }
  }
}
.tabs {
  margin-bottom: 30px;  
}
.tabs .nav {
  background: transparent;
  border-bottom: 1px solid transparent;

  @include media ('<=desktop') {
    position: relative; 
    left: 0;
    flex-wrap: nowrap;
    width: 100%;  
  }
  @include media ('<=tablet') {
      flex-wrap: wrap;  
    }

  li {
    background: $grey-light;
    border-right: 1px solid #79cbd5;

    @include media ('<=tablet') {
       display: block;  
       width: 100%;  
    }

    a {
      border: 1px solid transparent;
      border-radius: 0;
      text-transform: uppercase;  
      color:#fff;
      margin-right:   0;

      &:hover {
        background: #189fb2;
      }
    }
  }
    .active {
      a {
        background: #189fb2;
      }
    }
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff;
    background-color: #189fb2;
    border: 1px solid transparent;
    border-bottom-color: transparent;
}
.tab-content {
  border: 1px solid $grey;
  padding:  30px;

  @include media ('<=tablet') {
    padding: 15px;
  }
  @include media ('<=phone') {
    padding: 10px;
  }
}

.panel-group {
  .panel {
      border-radius:  0!important; 
  }
}
.panel-group .panel + .panel {
  margin-top: 0;  
}
.panel-default > .panel-heading {
  border-color: #4cbbc9;
  padding:  0;
  background: transparent;
  border-bottom:  1px solid #79cbd5;
  border-top: none;
  border-radius:  0;

}
.panel-heading {
  .collapsed {
    background: #4cbbc9;

    i {
      transform: rotate(180deg);
    }
  }
  a {
    display: block; 
    height: 100%; 
    padding:  10px 15px;
    text-transform: uppercase;  
    color: #fff;
    font-size: 12px;
    background: #189fb2;
    text-decoration: none;
    position: relative;
    @extend %transition;

    i {
      @extend %transition;
      position: absolute;
      top: 10px;
      right: 10px;
    }

    &:hover {
      text-decoration: none;
      background: #189fb2; 
    }
  }
}
.panel {
  border: none;

  &:last-child {
    border-bottom: 1px solid #189fb2;
  }

  .panel-body {
    border-left: 1px solid #189fb2;
    border-right: 1px solid #189fb2;
    border-bottom:  1px solid #79cbd5;
    
  }
} 
.panel .collapsed .panel-heading {
  background: #189fb2;
  border-bottom: 1px solid #189fb2;
}
.document-list {
  margin-bottom: 30px;
  li {
    width: 25%;

    @include media ('<=desktop') {
      width: 50%;
    }
  }
  .btn-org {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
  .img-wrsh {
    border: 1px solid #c6c6c6;
  }
  .btn-default {
    @include media ('<=phone') {
      padding-left: 10px;
      padding-right: 10px;
      font-size: 13px;
    }
  }
}
.label-default,
.label-warning {
  position: absolute;
  left: 0;
  right: 0;
  top: 35px;
  text-align: center;
  text-transform: uppercase;
  padding: 6px;
  color: #fff;
  font-size: 12px;
}
.label-default {
  background: $grey;
}
.label-warning {
  background: #b51f25;
}
.tab-pane {
  label {
    color: #525353;
  }
  input,
  textarea {
    border: 1px solid #b6bab8;
  }
  input {
    height: 42px;
  }
  textarea {
    min-height: 140px;
  }
  .exp-img,
  .exp-contacts {
    width: 50%;
    @include media ('<=desktop') {
      width: 100%;
    }
  }
}
.like-block {
  margin-bottom: 30px;
}
.like {
  display: inline-block;
  text-align: center;
  margin-right: 4px;

  a {
    font-size: 24px;
    padding: 10px 15px;
  }
  span {
    font-size: 16px;
    display: inline-block;
    width: 100%;
  }
}
